
* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    /* border: 1px solid rgb(0, 0, 0); */

    /* list-style: none; */
    /* text-decoration: none; */
}

body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.main-container {

}

.slider-container {
    display: flex;
    overflow-x: scroll;

    margin: 0 auto;
    width: 600px;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.img-slid {
    margin-right: 10px;
    /* margin-left: 5px; */
}

.meme-img {
    border-radius: 10px 10px 10px 10px;
}

.text-and-buttons {
    display: flex;
    justify-content: space-between;

    margin: 0px auto;
    margin-top: 20px;

    width: 600px;
}

.text-container {
    display: flex;
    overflow-x: scroll;

    /* margin: 0px auto; */

    width: 430px;
}

.text-container::-webkit-scrollbar {
    display: none;
}

.text-slider {
    display: flex;
}

.text-slid {
    width: 430px;
    margin-right: 10px;
}

.meme-texts {
    font-weight: 800;
    font-size: 20px;
    color: black;
}

.buttons-container {
    display: flex;
}

.buttons-elem {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20px;
    width: 20px;

    cursor: pointer;

    border: none;
    /* font: inherit; */
    /* color: inherit; */
    background-color: inherit;
    cursor: pointer;
}

.btn-style {
    min-width: 16px;
    height: 16px;

    background-color: #3da6f1;

    border-radius: 100px;
    border: 2px solid #3da6f1;

    transition: 0.3s;
}

.buttons-elem:hover .btn-style{
    background-color: white;
    border-color: white;
}

.buttons-elem:active .btn-style{
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
