* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    /* border: 1px solid rgb(0, 0, 0); */

    font-size: 10px;
}

body {
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
    background: linear-gradient(0.25turn, #96c6f7, #dd985f, #b14bed);

    /* background-image: url(./mems/background.jpg); */
}

.main-container {
    margin-top: 20px;
}

.slider-container {
    display: flex;
    overflow-x: scroll;

    margin: 0 auto;
    width: 600px;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.img-slid {
    margin-right: 10px;
}

.meme-img {
    border-radius: 10px 10px 10px 10px;
}

.text-and-buttons {
    display: flex;
    justify-content: space-between;

    margin: 0px auto;
    margin-top: 20px;

    width: 600px;
}

.text-container {
    display: flex;
    overflow-x: scroll;

    width: 430px;
}

.text-container::-webkit-scrollbar {
    display: none;
}

.text-slider {
    display: flex;
}

.text-slid {
    width: 430px;
    margin-right: 10px;
}

.meme-texts {
    font-weight: 800;
    font-size: 2rem;
    color: black;
}

.buttons-container {
    display: flex;
}

.buttons-elem {
    display: flex;
    justify-content: center;

    height: 30px;
    width: 30px;

    cursor: pointer;

    border: none;
    background-color: inherit;
    cursor: pointer;
}

.btn-style {
    min-width: 16px;
    height: 16px;

    border-radius: 100px;
    background-color: #96c6f7;
    border: 2px solid #96c6f7;

    transition: 0.3s;
}

.buttons-elem:hover .btn-style{
    background-color: white;
    border-color: white;
}

.buttons-elem:active .btn-style{
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.buttons-elem.active-btn .btn-style{
    background-color: inherit;
    border: 2px solid #96c6f7;
}

.buttons-elem.active-btn:hover .btn-style{
    border-color: white;
}


@media (max-width: 650px){   
    .slider-container {
        width: 450px;
    }
    
    .meme-img {
        width: 450px;
    }
    
    .text-and-buttons {
        width: 450px;
        flex-direction: column-reverse;
    }
    
    .text-container {
        margin-top: 13px;
        width: 430px;
    }
    
    .text-slid {
        width: 430px;
        margin-right: 10px;
    }
    
    .meme-texts {
        font-size: 1.5rem;
    }

    .buttons-container {
        display: flex;
        justify-content: center;
    }
    
    .buttons-elem {
        height: 20px;
        width: 20px;
    }
    
    .btn-style {
        min-width: 13px;
        height: 13px;
    }
}
